.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .4px .4px;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;

}

.close:hover{
    -fx-background-color: #ff4f6c;
}

.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover{
    -fx-background-color: #ddd;
}

.nav-form{
    -fx-background-color: linear-gradient(to right,#61D8DE, #E839F6);
}

.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
    -fx-alignment: CENTER_LEFT;
}

.logout-btn{
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),8,0,0,0);
}

.logout-label{
    -fx-text-fill: #fff;
}

.User-Profile-bttn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-shape: "M 30 15 A 15 15 0 1 1 0 15 A 15 15 0 0 1 30 15";
}



.white-background{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 0.5px;
}

.table-view{
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right,#61D8DE, #E839F6);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.table-view.column-header-background{
    -fx-background-color: linear-gradient(to right,#61D8DE, #E839F6);
    -fx-background-insets: 0 0 0 0 ;
    -fx-background-radius: 8px 8px 0px 0px;
}

.table-view.column-header, .filter{
    -fx-background-color: transparent;
    -fx-side: 40px;
}

.table-view.column-header .label{
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

.font{
    -fx-font-size:20px;
    -fx-font-family:"Berlin Sans FB";
    -fx-text-fill: #fff;
}

.fontforbutton {
    -fx-text-fill: #000;  /* Set text color to black */
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
}

.button{
    -fx-background-radius: 50;
}

.second-Nov-form{
    -fx-background-color: linear-gradient(to right,#9796f0, #fbc7d4);
}

.black-font{
    -fx-text-fill: #000;
    -fx-stroke-borders: #000;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.green-button{
    -fx-background-color: #07f49e;
}

.red.button{
    -fx-background-color: #FF416C;
}

.discussionboard{
    -fx-background-color: #ffffff;     /* White background */
    -fx-border-color: #000;         /* Black border */
    -fx-border-width: 0.5px;           /* Border width */
    -fx-padding: 10px;                 /* Optional padding for better appearance */

}

